@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 pt-5">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">

                <ul class="text-danger">
                    @if (Model.emailContainsProfanity)
                    {
                        <li>Profanity not allowed!</li>
                    }
                    @if (Model.supportPasswordAccepted == false)
                    {
                        <li>The support password is incorrect</li>
                    }
                </ul>
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.phoneNumberAccepted == false)
                {
                    <ul class="text-warning"><li>Only Swedish phone numbers are accepted at the moment</li></ul>
                }
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                @foreach (var role in Model.Roles)
                {
                    <input onclick="toggleSupportPasswordField()" type="radio" asp-for="Role" value="@role" id="Role@(role)" />@role
                    @if (role == "Support")
                    {
                        <div style="display:none" id="support-password" class="form-group">
                            <label asp-for="Input.SupportPassword"></label>
                            <input asp-for="Input.SupportPassword" class="form-control" />
                            <span asp-validation-for="Input.SupportPassword" class="text-danger"></span>
                        </div>
                    }
                    <br />
                }
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

<script>
    const supportRadioButton = document.getElementById('RoleSupport');
    const supportPasswordDiv = document.getElementById('support-password');
    supportRadioButton.checked = false;

    function toggleSupportPasswordField() {
        supportPasswordDiv.style.display = supportRadioButton.checked ? "block" : "none";
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

