<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RebelRentals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/day-style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <div class="d-flex flex-grow-1 navbar-nav">
                        <a title="Home" asp-area="" asp-page="/Index">
                            <img id="company-logo" src="~/Images/Rebel_Rentals_Logo.gif" alt="Company animated logo" />
                        </a>
                        <a class="nav-link text-danger scifi-font mt-2" asp-area="" asp-page="/Contact/Index">Contact</a>
                        <a class="nav-link text-danger scifi-font mt-2" asp-area="" asp-page="/Ships/Index">Ships</a>
                        <a class="nav-link text-danger scifi-font mt-2" asp-area="" asp-page="/GalacticTranslator">Galactic Translator</a>
                    </div>
                </div>
            </div>
</nav>
    </header>
    <div class="container p-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="p-5"></div>
    <footer class="border-top text-muted footer fixed-bottom text-center footer-color">
        <div class="container">
            <div>
                &copy; 2020 - RebelRentals - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
