@page
@model TestModel
@{
    ViewData["Title"] = "Test";
}

<h1>Convertion</h1>

<form method="post">
    <button asp-page-handler="ConvertCurrency">
        Submit
    </button>
</form>
@if (Model.showConverterCurrency)
{
    <p>@(Model.conversionRate*300)</p>
}






