@page
@model RebelRentals.Pages.ChuckNorrisModel
@{
    ViewData["Title"] = "ChuckNorrisQuotes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Chuck Norris Quotes</h2>

@{
    if (Model.FetchedAPI == false)
    {
        <img src="@Model.IconURL" width="100" height="100"/>
        <p>@Model.Message</p>
        }
    }
@{  if(Model.FetchedAPI == true)
    {
        <img src="@Model.chuckNorrisQuotesModel.icon_url" />
        <p>@Model.chuckNorrisQuotesModel.value</p>
    }
}

<form method="post" asp-page-handler="GetQuote">
    <button>Anti sad measures</button>
</form>