@page
@model RebelRentals.Pages.ChuckNorrisQuotesModel
@{
    ViewData["Title"] = "ChuckNorrisQuotes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Chuck Norris Quotes</h2>

<input id="GetQuote" type="button" value="Anti sad measures" onclick="GetQuote()" />

<img id="QuoteIcon" />
<p id="QuoteParagraph"></p>

<script type="text/javascript">
    function GetQuote() {
        var quoteIcon = document.getElementById("QuoteIcon");
        var quoteParagraph = document.getElementById("QuoteParagraph");
        fetch('https://api.chucknorris.io/jokes/random')
            .then(response => response.json())
            .then(if (response.id != null) {
                quoteIcon.innerHTML = response.icon_url;
            quoteParagraph.innerText = response.value;
            )
        }
    }
</script>