@page
@model RebelRentals.Pages.CoinFlipModel
@{
    ViewData["Title"] = "CoinFlip";
}

<h1>CoinFlip</h1>

<form method="post">
    <button asp-page-handler="FlipCoin"></button>
</form>

@if (Model.Coin == "Heads")
{
    <img src="https://www.riksbank.se/imagevault/publishedmedia/vu4codslosaewry2o0ea/2-krona_-mindre-.png" alt="Alternate Text" class="coin-image" />
    <p>You got heads!</p>
}
else if (Model.Coin == "Tails")
{
    <img src="https://www.riksbank.se/imagevault/publishedmedia/ejwy72qaywdl6wnjhjeo/1-krona__baksida.png" alt="Alternate Text" class="coin-image" />
    <p>You got tails!</p>
}
