@page
@model RebelRentals.Pages.GalacticTranslatorModel
@{
    ViewData["Title"] = "GalacticTranslator";
}

<h1>Galactic Translator</h1>
<div>
    <form method="post" asp-page-handler="Translation">
        <label>Translate to Sith:</label><br />
        <input asp-for="TextToTranslate" /><br />
        <button>Translate!</button><br />
        <label class="text-danger">@Model.TranslatedText</label>
    </form>
</div>