@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Rebel Rentals</h1>
</div>
<a asp-page="/CoinFlip">coin</a>

@if(Model.Apod != null)
{
    <div class="text-center">
        <h4>NASA's Daily Recommended Tourist Location:</h4>
        <h5>@Model.Apod.Title</h5>
        @if (Model.Apod.Media_Type == "image")
        {
            <img src="@Model.Apod.Url" />
        }
        else if (Model.Apod.Media_Type == "video")
        {
            <iframe src="@Model.Apod.Url"></iframe>
        }
        <p>@Model.Apod.Description</p>
    </div>
}