@page
@model RebelRentals.Pages.Ships.ISSLocationModel
@{
    ViewData["Title"] = "ISSLocation";
}

<h1 class="pb-4">ISS Location</h1>
<form method="post" asp-page-handler="ISSLocation">
    <button class="btn btn-primary mt-3">Get location</button>
    <p class="pt-5">@Model.currentLocation</p>
</form>

