@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="pb-5">@ViewData["Title"]</h1>
<h4>In a lawsuit far, far away</h4>
<h5 class="pb-5">Our heroes come to find our privacy policy was bullet proof all along</h5>

<p>
    <b>NOTE: THE FOLLOWING IS A JOKE...</b><br />
    Your privacy and trust is crucial to us here at Rebel Rentals, therefore we only sell absolutely every
    single piece of information we can gather from your time spent here on the website. We don't care,
    we'll sell to the most corrupt companies if it means the highest bidder.
    What are you gonna do? Sue us? Good luck. We're transparent as **** and follow the laws boiiii.
    Go complain about your country not being strict enough if you've got a problem. Until then, guess
    we'll keep being slimy snakes.<br />

    GGEZ,<br />
    <b>
        Rebel Rentals<br />
        END JOKE
    </b>
</p>
