/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    background: #262626 !important;
    font-family: sciflysans !important;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.bg-dark {
    background: #252525 !important;
}

.footer-color {
    background: black;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

tr {
    vertical-align: middle !important;
    margin: auto !important;
}

/*Rebel Rentals specific styles*/
#company-logo {
    width: 64px;
    height: 64px;
    margin-right: 50px;
}

#apod-image {
    max-width: 500px;
    height: auto;
}

@media only screen and (max-width: 1024px) {
    #apod-image {
        max-width: 250px;
        height: auto;
    }
}

@font-face {
    font-family: 'scifi_adventureregular';
    src: url('fonts/scifi_adventure-webfont.woff2') format('woff2'), url('fonts/scifi_adventure-webfont.woff') format('woff'), url('fonts/Scifi Adventure.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sciflysans';
    src: url('fonts/scifly-sans-webfont.woff2') format('woff2'), url('fonts/scifly-sans-webfont.woff') format('woff'), url(fonts/SciFly-Sans.ttf) format('ttf');
}

h1, h2, h3 {
    font-family: scifi_adventureregular !important;
    color: rgb(255,37,37);
}

h4, h5, h6, label, p, td, dd, dt, th {
    color: white;
    font-family: sciflysans !important;
}

.scifi-font {
    font-family: scifi_adventureregular;
}

.cursor-pointer {
    cursor: pointer;
}

.logout:hover {
    color: #a71d2a !important;
}
